@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');

body {
    background: black;
}

.terminal{
    color: white;
    font-family: 'JetBrains Mono', monospace;
    padding: 10px;
    overflow: hidden;
  }
  
  .line{
    display: table;
    width: 100%;
  }
  
  .terminal span{
    display:table-cell; 
    width:1px;
  }
  
  .terminal input{
    display:table-cell; 
    width:100%;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    background: black;
    color: white;
    outline: none;
  }

  .orange {
      color: rgb(255, 174, 0);
  }

  .purple {
    color: rgb(142, 43, 255);
  }

  .green {
      color: rgb(0, 255, 0);
  }

  a {
      color: rgb(145, 255, 255);
  }